.black-nav{
  background: rgb(0, 0, 0);
  padding: 20px;
  color: #ffffff;
  width: 100%;
}
.list{
  border-bottom: 1px solid #ddd;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  h4{
    margin-bottom: 20px;
    color: #555;
  }
  span{
    font-size: 30px;
    color: red;
    padding-right: 10px;
  }
  p{
    font-size: 14px;
    color: #999;
  }
}
.modal{
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background: #eee;
  position: absolute;
  top: 20px;
}
button{
  padding: 10px 20px;
  margin-top: 20px;
  background: rgb(255, 0, 0);
  color: #fff;
  border-radius: 5px;
  height: 50px;
  border: none;
}
input{
  display: block;
  margin: 10px 30px;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.write{
  display: flex;
  justify-content: center;
  width: 100%;
  background: #555;
  padding-top: 15px;
}